/* Could change to module.css in the future */
.about_us {
    /* background: #141414; */
    background: #3c4043;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.about_us h1 {
    /* background-color: rgb(51, 128, 0);
    background-image: linear-gradient(to left, rgb(8, 161, 0) 0%,rgb(7, 30, 175) 90% ); */
    background-color: rgba(255, 255, 255, 0.742);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 2.4rem;
}

.about_us_container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.about_us_photo img {
    height: 467px;
}

.about_us_text p {
    color: white;
    width: 720px;
    padding: 20px 5px 0px;
    font-size: 1.2rem;
}

.about_us_container_info ul {
    list-style-type: none;
    font-size: 1.7rem;
}

.about_us_container_info li {
    margin: 10px 0px;
}

.about_us_container_info a {
    color: rgb(7, 30, 175);
}

#about_us_strava_link:hover{
    transition: all 0.35s ease;
    color: rgb(255, 116, 3);
}

#about_us_github_link:hover{
    transition: all 0.35s ease;
    color: rgb(235, 235, 235);
}

#about_us_supported_by:hover{
    transition: all 0.35s ease;
    color: rgb(228, 2, 2);
}

@media screen and (max-width: 1500px) {
    .about_us_photo img {
        height: 350px;
    }

    .about_us_text p {
        font-size: 1.2rem;
        width: 550px;
    }
}

@media screen and (max-width: 1000px) {
    .about_us {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    .about_us {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 1194px) {
    .about_us_container {
        column-gap: 30px;
    }

    .about_us_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 959px) {
    .about_us h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 565px) {
    .about_us_photo img {
        height: 233px;
    }

    .about_us_text p {
        width: 350px
    }
}