/* Could change to module.css in the future */
.location {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.location h2 {
    background-color: rgb(51, 128, 0);
    background-image: linear-gradient(to left, rgb(8, 161, 0) 0%,rgb(7, 30, 175) 90% );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 1rem;
    font-size: 2.4rem;
}

.location_card {
    margin: 0.5rem;
    height: 363px;
    width: 700px;
    border-radius:20px;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}

.location_card p {
    padding-top: 310px;
    font-size: 1.5rem;
}

.location_info {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 200px;
}

.popular_trail_name {
    list-style-type: decimal;
    color: white;
    margin: 10px;
    padding-left: 20px;
    font-size: 1.3rem;
}

.location_services p {
    color: white;
}

.location_service_item_container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 120px;
}

.location_service_item_container{
    padding-top: 8px;
}

.location_service_item_container p {
    padding: 8px 0px 0px 30px;
    font-size: 1.3rem;
}

.location_service_btn {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(7, 30, 175);
    height: 50px;
    width: 130px;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    color: white;
    overflow: hidden;
}

.location_service_btn p{
    position: relative;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

.location_service_btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(8, 161, 0);
    transition: all 0.35s;
    border-radius: 8px;
    z-index: 1;
}

.location_service_btn:hover::after {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .location {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 761px) {
    .location_card {
        height: 242px;
        width: 466px;
    }

    .location h2 {
        font-size: 1.8rem;
    }

    .location_card p {
        padding-top: 213px;
    }
    
    .location_info {
        column-gap: 133px;
    }
}

@media screen and (max-width: 850px) {
    .location_info {
        column-gap: 70px;
    }
}

@media screen and (max-width: 680px) {
    .location_card {
        height: 182px;
        width: 350px;
    }

    .location_card p {
        padding-top: 150px;
        font-size: 1.3rem;
    }

    .location_info {
        grid-template-columns: auto;
    }
}