/* Could change to module.css in the future */
.footer {
    background-color: #141414;
    overflow: auto;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 110px;
}

.footer_container p {
    color: rgb(8, 161, 0);
}

.footer a {
    text-decoration: none;
    color: rgb(8, 161, 0);
}

@media screen and (max-width: 960px) {
    .footer_container {
        font-size: 1rem;
        padding: 0px 100px 30px;
    }

    .footer_container #navbar_logo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .footer_container {
        display: grid;
        row-gap: 20px;
        justify-content: center;
        font-size: 1rem;
        margin-top: 50px;
    }
}

@media screen and (max-width: 565px) {
    .footer_container {
        font-size: 0.8rem;
        padding: 0px 0px 30px;
    }
}